<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ViewPictures.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <ViewPictures.Properties.Settings>
            <setting name="theme" serializeAs="String">
                <value>светлая</value>
            </setting>
            <setting name="width" serializeAs="String">
                <value>668</value>
            </setting>
            <setting name="height" serializeAs="String">
                <value>465</value>
            </setting>
            <setting name="backgroundColorInterface" serializeAs="String">
                <value>IndianRed</value>
            </setting>
            <setting name="backgroundColorElements" serializeAs="String">
                <value>IndianRed</value>
            </setting>
            <setting name="backgroundColorMenu" serializeAs="String">
                <value>LightCoral</value>
            </setting>
            <setting name="colorTextInterface" serializeAs="String">
                <value>ControlLightLight</value>
            </setting>
            <setting name="colorTextElements" serializeAs="String">
                <value>ControlLightLight</value>
            </setting>
            <setting name="fontSizeText" serializeAs="String">
                <value>Microsoft Sans Serif, 14.25pt</value>
            </setting>
            <setting name="fontSizeTextString" serializeAs="String">
                <value>Microsoft Sans Serif; 14,25pt</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value>ru-RU</value>
            </setting>
        </ViewPictures.Properties.Settings>
    </userSettings>
</configuration>